body            { font-family: sans-serif; }
a, h1, h2       { color: #377BA8; border: 2px; }
h1, h2, h3, h4  { font-family: 'Georgia', serif; margin: 0; }

h2              { font-size: 1.2em; }
h3				{ font-size: 1em; color: #555; }
h4              { font-size: 1em; color: #aa3333; }
p				{ color: #377BA8; font-family: 'Georgia', serif; 
				  font-size: 1.2em; margin: 4em;}

.page			{}
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 0em; background: #eeeeee; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.allclick		{ background-color: #F5F5F5;
				  border: 1px solid rgba(0, 0, 0, 0.1);
				  border-radius: 2px 2px 2px 2px;
				  color: #666666; cursor: pointer; font-size: 11px;
				  font-weight: bold; height: 29px; line-height: 27px;
				  margin: 11px 6px; min-width: 54px; padding: 0 8px;
				  text-align: center; }
.allclick:hover { background-color: #F8F8F8; border: 1px solid #C6C6C6;
				  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); color: #333333; }
.allclick:focus { border: 1px solid #4D90FE; outline: medium none; }

.heading_container {
    background-color: #ffffff;
    height: 82px;
    min-width: 50px;
	padding: 0px 0px 0px 50px;
}

.utility_container {
    float: right;
}

.home_body {
	padding: 50px 0px 50px 50px;
	background-color: #5aa1d1;
	color: #fff;
	font-family: 'Helvetica';
	height: auto;
	display: none;
}

.mainWash {
    background-color: #DDE2ED;
}

.footer {
	border-top: 1px solid #eee;
	padding: 20px 0 20px 50px;
	min-height: 100px;
	background-color: #eee;
	color: #555;
	text-align: left; 
	font-size: 1.0em; 
	font-family: 'Helvetica';
	display: none;
}

.text_main_features {
	padding: 20px 0px 20px 0px;
	margin: 0px;
	font-size: 1.0em;
	color: #ddd;
	font-family: 'Helvetica';
}

.text_topic {
	color: #fff;
	text-decoration:underline;
}

.text_summary {
	padding-top: 20px;
	font-size: 1.0em;
	color: #fff;
	font-family: 'Helvetica';
}

.text_descriptive {
	font-size: 0.9em;
	color: #fff;
	font-family: 'Helvetica';
	font-style:italic;
}

.liquid {
	color: #5280a1;
}

.timestamp {
	color: #999;
}

.user {
	color: #5280a1;
	padding: 20px 0px 10px 20px;
	font-family: 'Georgia';
	font-size: 1.2em;
	text-decoration:underline;
}

.entrycount {
	color: #5280a1;
	padding: 20px 0px 10px 20px;
	font-family: 'Georgia';
	font-size: 1.2em;
}

.user_data {
	padding: 20px 0px 0px 30px;
}