{% extends "layout.html" %}
{% block body %}

<script>
 $(document).ready(function() {
	$("div.home_body").show("slow");
	$("div.footer").show("slow");
 });
</script>

<div class="home_body">
	<h2 class="text_topic">Track your hydration.</h2>
	
	<p class="text_main_features"><b>Log your liquid intake.</b>
    <br>Save all the liquids that you consume for the day.</p>
	
	<p class="text_main_features"><b>Track your routine.</b>
    <br>Visualize your progress, so you know where you are relative to your goals.</p>
	
	<p class="text_main_features"><b>Share with your network.</b>
    <br>Let your network know how you are doing and see what they are upto.</p>
	
</div>

<div class="footer">
	<h3>ABOUT</h3>
	Hydra.te is a simple web application that helps you stay hydrated and healthy.
	<br>
	<br>
	<h3>USERS</h3>
	{{ usercount }} users and counting
</div>
{% endblock %}