{% extends "layout.html" %}
{% block body %}
<div class="home_body">
	<h2 class="text_topic">Track your hydration.</h2>
	<h2 class="text_summary">Log your liquid intake.
	<h4 class="text_descriptive">Save all the liquids that you consume for the day.
	<h2 class="text_summary">Track your routine.
	<h4 class="text_descriptive">Visualize your progress, so you know where you are relative to your goals.
	<h2 class="text_summary">Share with your network.
	<h4 class="text_descriptive">Let your network know how you are doing and see what they are upto.
</div>

<div class="footer">
	<h3>ABOUT</h3>
	Hydra.te is a simple web application that helps you stay hydrated and healthy.
	<br>
	<br>
	<h3>USERS</h3>
	{{ usercount }} users and counting
</div>
{% endblock %}