<!doctype html>
<title>Hydra(te)</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<div class=page>
	<div class="heading_container">
		<h1><a href="{{ url_for('home') }}" style="text-decoration:none">Hydra.te</a></h1>
		<div class="utility_container">
			{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">log in</a>
			or
			<a href="{{ url_for('register') }}">register</a>
			{% else %}
			<a href="{{ url_for('show_entries') }}">home</a>
			.
			<a href="{{ url_for('logout') }}">log out</a>
			{% endif %}
		</div>
	</div>
 <!--
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  -->
  {% block body %}{% endblock %}
	
</div>