{% extends "layout.html" %}
{% block body %}

<script>
 $(document).ready(function() {
   $("div.home_body").show();
 });
</script>


<!--Main input layer-->
<div class="home_body">
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt> <input type=text size=30 name=liquid placeholder="Liquid consumed">
        <dt> <input type=text name=qty size=20 placeholder="Quantity in ml">
        <dt><input type=submit value=Log class=allclick id="logenty">
      </dl>
    </form>
  {% endif %}
</div>

<!--User control layer-->
<div class="user_control" id="dp">
   <button id="showlog" value=Log class=allclick>Show Log ({{ entry_count }})</button>
   <button id="hidelog" value=HideLog class=allclick style="display:none">Hide Log</button>
   <button id="showstats" value=Log class=allclick>Show Stats</button>
   <button id="showgraph" value=Log class=allclick>Show Graph</button>
   <button id="showalert" value=Alert class=allclick>Show Alert</button>
</div>

<!--Alerts-->
<div class="user_data" id="user_alert" style="display:none">
  <div class="user"><h4>{{ user }}'s alert</div>
  <ul class=entries><li><h4>Have not consumed liquids in {{ parched_time }} hours
</div>

<!--User data layer-->
<!--Log-->
<div class="user_data" id="user_log" style="display:none">
  <div class="user"><h3>{{ user }}'s log<h3></div>
  <ul class=entries>
  {% for entry in entries %}
    <li><h3 class="timestamp">{{ entry.timestamp }}</h3> <h4 class="liquid">{{ entry.liquid }} {{ entry.qty|safe }} ml </h4>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
</div>

<!--Stats-->
<div class="user_data" id="user_stat" style="display:none">
  <div class="user"><h3>{{ user }}'s statistics<h3></div>
  <ul class=entries>
  {% if total_qty %}
	<li><h3 class="timestamp">Total Liquid Consumption: <h4 class="liquid">{{ total_qty }} ml </h3>
 	 <br>
	  {% for entry in liquid_ctgry_cnt %}
	    <li><h4 class="liquid">{{ entry.category }} ({{ entry.count }})</h4>
	  {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endif %}
  </ul>
  <br>
  <ul class=entries>
  {% if daily_consumption %}
	  {% for entry in daily_consumption %}
	    <li><h3 class="timestamp">{{ entry.date }} <h4 class="liquid">{{ entry.qty }} ml</h4>
	  {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endif %}
  </ul>
</div>

<!--Graph-->
<div class="user_data" id="user_graph" style="display:none">
  <div class="user"><h3>{{ user }}'s graph<h3></div>
  <div id="barchartdiv" style="height:400px;width:400px; "></div>
</div>



<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.jqplot.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.jqplot.css') }}" />

<script src="{{ url_for('static', filename='jqplot.barRenderer.min.js') }}"></script>
<script src="{{ url_for('static', filename='jqplot.categoryAxisRenderer.min.js') }}"></script>
<script src="{{ url_for('static', filename='jqplot.pointLabels.min.js') }}"></script>

<script src="{{ url_for('static', filename='jqplot.pieRenderer.min.js') }}"></script>
<script src="{{ url_for('static', filename='jqplot.donutRenderer.min.js') }}"></script>

<script>

$(document).ready(function(){
//	$.jqplot('chartdiv',  [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]]);
});


// Show user graph 
 $("#showgraph").click(function() {
	var outs = [];
	var inns = [];
	  {% for entry in liquid_ctgry_cnt %}
		inns=['{{ entry.category }}',{{ entry.count }}];
		outs.push(inns);		
	  {% endfor %}
	  $.jqplot ('barchartdiv', [outs],
	    {
		  grid: { drawBorder: false, shadow: false },
	      seriesDefaults: {
	        renderer: jQuery.jqplot.PieRenderer,
	        rendererOptions: {
	          showDataLabels: true,
			  shadowOffset: 1
	        }
	      },
	      legend: { show:true, location: 'e' }
	    }
	  );
		if ($(this).html() == "Show Graph") {
			$("#user_graph").slideDown("slow");
			$(this).html("Hide Graph");
		}
		else {
			$("#user_graph").slideUp("slow");
			$(this).html("Show Graph");
		}
	 });

// Show user alert 
 $("#showalert").click(function() {
	var msg = "Have not consumed liquids in {{ parched_time }}";
	if ($(this).html() == "Show Alert") {
		$("#user_alert").slideDown("slow");
		$(this).html("Hide Alert");
	}
	else {
		$("#user_alert").slideUp("slow");
		$(this).html("Show Alert");
	}
 });

// Show user stat 
 $("#showstats").click(function() {
	if ($(this).html() == "Show Stats") {
		$("#user_stat").slideDown("slow");
		$(this).html("Hide Stats");
	}
	else {
		$("#user_stat").slideUp("slow");
		$(this).html("Show Stats");
	}
 });

// Show user log 
 $("#showlog").click(function() {
   $("#user_log").slideDown("slow");
   $(this).hide();
   $("#hidelog").show();
   $("#hidelog").innerHTML = "srini";
 });
// Hide user log
 $("#hidelog").click(function() {
   $("#user_log").slideUp("slow");
   $(this).hide();
   $("#showlog").show();
 });
</script>

{% endblock %}